<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Conciertos</title>
</head>
<body class="container-fluid mt-4">
<h2 class="text-center mb-4">Todos los Conciertos</h2>

<form method="post">
    <a class="btn btn-success" th:href="@{/llenarForm}">Nuevo Concierto</a>
</form>
<table class="table table-success table-striped">
    <tr>
        <th class="text-center">ID Concierto</th>
        <th class="text-center">Fecha</th>
        <th class="text-center">Proveedor</th>
        <th class="text-center">Artistas</th>
    </tr>
    <tr th:each="transaction: ${listaConcierto}" >
        <td class="text-center" th:text="${concert.id}" ></td>
        <td class="text-center" th:text="${concert.txId}"></td>
        <td class="text-center" th:text="${concert.amount}"></td>
        <td class="text-center" th:text="${concert.artist}"></td>
    </tr>
</table>

</body>
</html>